[Unit]
Description=Yet Another SKK server

[Service]
KillMode=process
ExecStart=/usr/bin/yaskkserv2 --no-daemonize --google-cache-filename=/home/kimotu/.config/fcitx5/skk/yaskkserv2.cache /home/kimotu/.config/fcitx5/skk/dictionary.yaskkserv2
Type=simple
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
